.about {
    list-style-type: none;
    font-weight: bold;
}
.navbar{
    width: 100%;
}
.form-group{
    margin: 50px auto;
    width: 500px;
}

.eachPhoto{
    width: 630px;
    height: 900px;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 20px auto;
}

.profileName{
    color: black;
    display: inline-block;
    margin: 20px 0;
    text-align: left;
    font-weight: bold;
    font-size: 13px;
}

.profileImage{
    border-radius: 50%;
    margin: 0 17px;
}

.mainPhoto{
    width:100%;
    height:700px;
    margin:0 auto;
    cursor:pointer;
}

.navbarName{
    display: inline-block;
    margin-left: 5px;
}
.fa-instagram{
    font-size: 45px;
}

.fa-heart,.fa-comment,.fa-paper-plane{
    font-size: 25px;
    margin: 11px 0;
    margin-left: 15px;
}

.likes{
    margin: 0 17px;
}

.locationName{
    color:white;
    font-weight: bold;
}
.onbubble{
    display: flex;
}
.speech-bubble {
    position: relative;
    top:-400px;
    left: 50px;
	background: #3b3b3b;
    border-radius: .4em;
    padding: 10px 10px;
    color: white;
    font-weight: bold;
}

.speech-bubble:after {
	content:'';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #3b3b3b;
	border-top: 0;
	margin-left: -10px;
    margin-top: -10px;
}
.detailInformation{
  position: relative;  
  margin:30px auto;
  width:930px;
}

.profile-img{   
    text-align: left;
    margin-right: 75px;
    border-radius: 50%;
}

.detailName{
 display: inline-block;
 position: relative;
 bottom: 35px;
}
.photoLocation{
    display: inline-block;
    position: absolute;
    left: 12.7em;
    top: 3em;
}
.totalPhotos{
   margin-right: 50px;
}

.bio{
    display: inline-block;
    position: absolute;
    left: 12.7em;
    top: 6em;
}
hr{
    width: 930px;
}
.userPhotos{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 293px);
    grid-gap:25px
}
.userPhoto{
    width: 293px;
    height: 293px;
   
}
.top{
    position: relative;
}

.photolikes{
    position: absolute;
    color:white;
    font-weight: bold;
    top:45%;
    right: 38%; 
}
.likesIcon{
   position: absolute;
   top:-40%;
   right:130%;
}
.top:hover .userPhoto{
    opacity: 0.7;
}

.top:hover{
    background: black;
}


@media screen and (max-width:768px) {
    div.navbar{
        display: block;
        text-align: center;
    } 
    .eachPhoto{
     width: 540px;
    }
    .userPhotos{
        grid-template-columns: repeat(2, 293px); 
    }
    p.bio{
        width: 300px;
    }

    hr{
        position: relative;
        top: 30px;
    }
}
@media screen and (max-width:576px) {
    .searchbar{
        width: 470px;
    }
    .eachPhoto{
        width: 500px;
    }
     .userPhotos{
        grid-template-columns: repeat(1, 293px); 
    }
    .photoGrapherLocation{
        display: block;
    }
    
}
@media screen and (max-width:420px) {
    input.form-control{
      width: 350px;
    } 
    .eachPhoto{
      width: 350px;
      height: 630px;
    }
    img.mainPhoto{
      width: 100%;
      height: 450px;
    }     
}